/* 
maybe a completion bar
Cool favicon (in the left corner)
Clickable poster
*/

 font-family: /*arial, sans-serif*/;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #800080;
}

#navbar {
 background-color: #000;
    overflow: hidden;
}

#navbar a{
	float:left;
	display:block;
	color:white;
	text-align:center;
	padding:14px;
	text-decoration:none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #800080;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #A91BE0;
    color: white;
}
 	
.photo{
	width: 100%;
}
.grid {
   width: 1000px;
  height: 500px;
display:grid;
  grid-gap: 2vh;
  grid-template-columns: 1fr 1fr ;
  backgroud-color:#eaeaea;
}
/* take away thing under Header*/ 
.headerbody {
background-color:#eaeaea;
padding:1em;
grid-column-start:1;
grid-column-end:span2;
text-align: justify;
}

.leftsidebar {
background-color:#eaeaea;
text-color:purple;
padding:1em;
grid-column-start:1;
grid-column-end:span 2;
text-align: justify;
}

.rightsidebar { 
background-color:#eaeaea;
padding:1em;
grid-column-start:2;
Grid-column-end:span 2;
text-align: justify;
}

/* make only 2 spaces above footer*/
/* longer footerbody*/

.footerbody{
	text-color: 
background-color:#eaeaea;
padding:1em;
grid-column-start:1;
grid-column-end:span4;
}

.grid-4col {
display: grid;
grid-template-columns: 1fr(4x);
grid-gap: 2vh;
border: 1px black solid;
}

.grid-colspan4 {
background-color:#eaeaea;
padding:1em;
grid-column-start:1;
grid-column-end:span8;

}

.grid-colspan2-a {
background-color:#eaeaea;
padding:1em;
grid-column-start:1;
Grid-column-end:span 4;
text-align: justify;
}

.grid-colspan2-b {
background-color:#eaeaea;
padding:1em;
grid-column-start:2;
Grid-column-end:span 2;
text-align: justify;
}

.grid-colspan2-c {
background-color:#eaeaea;
padding:1em;
grid-column-start:3;
Grid-column-end:span 2;
text-align: justify;
}

.grid-colspan1-a {
background-color:#eaeaea;
padding:1em;
grid-column-start:1;
Grid-column-end:span 1;
text-align: justify;
}

.grid-colspan1-b {
background-color:#eaeaea;
padding:1em;
grid-column-start:2;
Grid-column-end:span 1;
text-align: justify;
}

.grid-colspan1-c {
background-color:#eaeaea;
padding:1em;
grid-column-start:3;S
text-align: justify;
}

.grid-colspan1-d {
background-color:/*#eaeaea*/;
padding:1em;
grid-column-start:4;
Grid-column-end:span 1;
text-align: justify;
}




h1{
	color: white;
}

p{color: white;
	
}

div{
	text-align: justify;
}
	
body {
	background-image: url(images/amazing.gif);
	background-color: rgba(255,255,255,0.36);
	background-repeat: xy;
	
}

/* sticky nav bar maybe dropdown and a current nav link */
/*
.box {
  background-color: white;
  font-style:
  color: black;
  border-radius: 5px;
  border: 2px #900c3f solid;*/
}*/
/*grid-colspan4*/ specific grids